:root{
    --translucent: #8e8e8e43;
    --light1: #DAD7CD;
    --light2: #A3B18A;
    --light3: #588157;
    --light4: #308D46;
    --dark1: #3A5A40;
    --dark2: #344E41;
    --gray: #3e3e3e;
    --black: #111;
    --white: #fff;
}