*{
    box-sizing: border-box;
    margin: 0%;
}

@media only screen and (max-width: 1025px){
    Header{
        height: 88px !important;
    }
    #Scrollable{
        height: calc(100vh - 120px) !important;
    }
}

@media only screen and (max-width: 768px){
    Header{
        height: 40px !important;
    }
    #Scrollable{
        height: calc(100vh - 72px) !important;
    }
}

@media only screen and (max-width: 500px){
    Header{
        height: 40px !important;
    }
    #Scrollable{
        height: calc(100vh - 114px) !important;
    }
    Footer{
        height: 74px !important;
    }
}

body{
    background-color: var(--light1);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

Header{
    display: block;
    width: 100%;
    height: 40px;
}

Footer{
    display: block;
    width: 100%;
    height: 32px;
}

Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60%;
}

#Scrollable{
    position: relative;
    width: 100vw;
    height: calc(100vh - 72px);
    overflow-y: scroll;
}